body{
    font-family:Arial;
    background:#f2f2f2;
    text-align:center;
    padding:30px;
}


h1{
    color:#0066cc;
}


.container{
    background:white;
    width:350px;
    margin:auto;
    padding:20px;
    border-radius:10px;
}


input,select{
    width:90%;
    padding:10px;
    margin:10px;
}


button{
    background:#0066cc;
    color:white;
    padding:10px 20px;
    border:none;
    border-radius:5px;
    cursor:pointer;
}


.item{
    background:white;
    width:350px;
    margin:15px auto;
    padding:15px;
    border-radius:10px;
    box-shadow:0px 0px 5px gray;
}


.delete{
    background:red;
}


